<h1>Register Dog Here</h1>

<%= simple_form_for(@owner) do |f| %>
  <%= f.input :first_name, label: 'First Name' %>
  <%= f.input :last_name, label: 'Last Name' %>
  <%= f.input :email %>
  <%= f.input :dog_name, label: 'Dog Name' %>
  <%= f.input :dog_breed, label: 'Dog Breed' %>

  <%= f.button :submit, 'Register Dog' %>
<% end %>
